<%= form_for [:admin, @post] do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation" class="form-group alert-danger">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :slug %>
    <%= f.text_field :slug, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :summary %>
    <%= f.text_area :summary, rows: 2, class: 'form-control' %>
  </div>
  <!-- <div class="form-group">
    <%= f.label :body_markdown %><br>
    <%= f.text_area :body_markdown %>
  </div> -->
  <div class="form-group">
    <%#= f.label :body_html %>
    <%#= f.text_area :body_html %>
    <%= f.hidden_field :body_html %>
    <trix-editor input="post_body_html"></trix-editor>
    <%#= content_tag :div, '', data: { 'form-data' => @s3_direct_post.fields, 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } %>
  </div>
  <div class="form-group">
    <%= f.label :published_at %><br>
    <%= f.datetime_select :published_at, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit 'Save Post', class: 'btn btn-success' %>
  </div>
<% end %>

<%= form_tag '#', id: 'image_uploader', class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } do %>
  <%= file_field :post, :image %>
  <%= submit_tag %>
<% end %>
