<%= form_for [:admin, @post] do |f| %>
  <% if @post.errors.any? %>
    <div class="row">
      <div id="error_explanation" class="col-xs-12 form-group alert-danger">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="col-md-6 form-group">
      <%= f.label :slug %>
      <%= f.text_field :slug, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :summary %>
    <%= f.text_area :summary, rows: 2, class: 'form-control' %>
  </div>

  <div class="form-group panel panel-default edit-post">
    <div class="panel-heading">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <%= link_to "Markdown", "#markdown", data: { toggle: 'tab' } %>
        </li>
        <li role="presentation">
          <%= link_to "Preview", "#preview", id: 'post_preview', data: { toggle: 'tab', url: admin_posts_preview_path } %>
        </li>
      </ul>
    </div>
    <div class="panel-body">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="markdown">
          <%= f.text_area :body_markdown, class: 'form-control', rows: 25, data: { url: admin_posts_preview_path, image_uploader: { url: @s3_direct_post.url } } %>
        </div>
        <div role="tabpanel" class="tab-pane preview" id="preview"><%= raw @post.body_html %></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 form-group">
      <%= f.label :tag_list, 'Tags' %>
      <%= f.text_field :tag_list, class: 'form-control' %>
    </div>
    <div class="col-md-6 form-group">
      <%= f.label :published_at, 'Published' %><br>
      <%= f.datetime_select :published_at, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit 'Save Post', class: 'btn btn-success' %>
  </div>
<% end %>
