<tr>
  <td><%= post.title %></td>
  <td><%= post.slug %></td>
  <td><%= post.published_at %></td>
  <td><%= link_to 'Show', post_path(post.slug) %></td>
  <td><%= link_to 'Edit', edit_admin_post_path(post) %></td>
  <td><%= link_to 'Destroy', admin_post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger' %></td>
</tr>
